<nav>
  <div class="logo"><i class="fa-solid fa-hand-holding-dollar"></i>
  <span>C</span><span>r</span><span>y</span><span>p</span><span>t</span><span>o</span><span>H</span><span>y</span><span>p</span><span>e</span></div>
  <ul>
    <li>Market</li>
    <li>Discover</li>
    <li>About</li>
    <li>Artist</li>
  </ul>
  <div class="form">
    <input type="text" placeholder="Search related to NFT">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</nav>
<main>
  <div class="container">
    <div class="left">
      <h1>Best <span>NFT</span> Collection for Your Future</h1>
      <div class="ctas">
        <div class="btn btn-rainbow">Explore Now</div>
        <div class="btn btn-border">Create NFT</div>
      </div>
      <ul>
        <li>
          <strong>62500</strong>
          <span>Collections</span>
        </li>
        <li>
          <strong>14000</strong>
          <span>Auctions</span>
        </li>
        <li>
          <strong>5200</strong>
          <span>Artists</span>
        </li>
      </ul>
    </div>
    <div class="right">
      <div class="perso-wrapper">
        <img src="../../assets/skater.png" alt="floating skate">
        <div class="stats">
          <div class="left">
            <span>Current Bid</span>
            <strong>12,43 ETH</strong>
            <div class="btn btn-rainbow btn-small">Place Bid</div>
          </div>
          <div class="right">
            <span>Ends inc</span>
            <strong>12 : 24 : 00 </strong>
            <div class="btn btn-border btn-small">View NFT</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="achievements">
  <div class="container">
    <div class="achievement-item">
      <div class="left">
        <i class="fa-solid fa-bookmark"></i>
      </div>
      <div class="right">
        Trusted with 10 <br>
        Achievements
      </div>
    </div>
    <div class="achievement-item">
      <div class="left">
        <i class="fa-solid fa-wallet"></i>
      </div>
      <div class="right">
        Easy Buy & Submit <br>
        Best NFT Art
      </div>
    </div>
    <div class="achievement-item">
      <div class="left">
        <i class="fa-solid fa-gift"></i>
      </div>
      <div class="right">
        Get discount Pro <br>
        Membership
      </div>
    </div>
  </div>
</div>
